:root 
{
    --c-Cyan: #4D96A9;
    --c-CyanLight: #8FE3F9;
    --c-Purple: #855FB1;
    --c-PurpleLight: #D9B8FF;
    --c-DarkGrey: #28283D;
    --c-Grey: #87879D;
    --c-GreyBorder: hsla(240, 10%, 57%, 25%);
    --c-White: white;

    --f-1: "Red Hat Display", sans-serif;
}

body {
    margin: 0;
}

* { 
    box-sizing: border-box;
}

* :first-child {
  margin-top: 0;  
}

* :last-child {
    margin-bottom: 0;
}


/* Typography */

body {
    font-family: var(--f-1);
}

p {
    line-height: 1.6;
    font-weight: 500;
    color: var(--c-Grey);
}

h1, h2, h3, h4, h5 
{
    font-weight: 900;
    line-height: 1.1;
    color: var(--c-DarkGrey);
}

#hero__title 
{
    font-size: 2.5rem;
}

#section-1__heading
{
    color: var(--c-Cyan);
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 16px;
}




/* Components Typography */

.btn {
    font-family: inherit;
    font-weight: 900;
    color:var(--c-White);
    font-size: inherit;
}



.section-enumerator__num {
    font-size: 1rem;
    color: var(--c-Grey);
}

.heading-2 
{
    font-size: 2rem;
}





@media (min-width:768px)
{
    #hero__title 
    {
        font-size: 3rem;
    }


    /* Components Typography */


    .heading-2 {
        font-size: 2.5rem;
    }

}


@media (min-width: 1440px)
{
    html {
        font-size: 18px;
    }

    p {
        line-height: 1.44;
    }
    #hero__title 
    {
        font-size: 3.55rem;
    }

    
    /* Components Typo */

    .heading-2 {
        font-size: 2.22rem;
    }
  

}




/* Layout */

body {
    text-align: center;
}
#header {
    padding: 3em 0 10em;
}

#header__logo {
    width: 119px;
    margin-bottom: 3.375em;
}

#hero__img-mobile {
    width: 120%;
    transform: translateX(-8.3%);
    margin-bottom: 3em;
    max-width: 820px;
}

@media (min-width:683px)
{
    #hero__img-mobile 
    {
        width: 100%;
        transform: none;
    }
}


#hero__img-left, #hero__img-right {
    display: none;
}

#hero__content {
    padding: 0 6.4% 0;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

#hero__body {
    margin-bottom: 2em;
}
#hero__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#section-1 {
    position: relative;
    padding: 4.35em 6.4% 11em;
}

#section-1__grid 
{
    display: grid;
    grid-template-columns: 45.9% 45.9%;
    grid-column-gap: 8.2%;
    grid-row-gap: 1.5em;
    justify-items: center;
    margin-bottom: 4em;
}

@media (min-width:768px)
{
    #section-1__grid 
{
    grid-template-columns: repeat(4, 24.5%);
    grid-column-gap: 1.59%;
}
}

@media (min-width:1440px)
{
    #section-1__grid 
    {
        grid-template-columns: repeat(4, 22.9%);
        grid-column-gap: 2.7%;
    }
}

.section-1__img {
    max-width: 268px;
    display: block;
    width: 100%;
    border-radius: 8px;
}

#footer {
    position: relative;
    background-image: url(../assets/mobile/image-footer.jpg);
    background-color: var(--c-Cyan);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5.75em 6.4% 4.5em;
}

#footer__title, #footer__body {
    color: var(--c-White);
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
}



/* Components Layout */

.btn {
    border:none;
    padding: 1em 2.5em;
    border-radius: 28px;
    cursor: pointer;
    transition: background-color 300ms;
}

.btn .lighter {
    opacity: 50%;
}

.btn--cyan {
    background-color: var(--c-Cyan);
}

.btn--cyan:hover {
    background-color: var(--c-CyanLight);
}

.btn--purple 
{
    background-color: var(--c-Purple);
}

.btn--purple:hover {
    background-color: var(--c-PurpleLight);
}


.section-enumerator {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
}

.section-enumerator__line 
{
    width: 1px;
    height: 84px;
    position: absolute;
    background-color: var(--c-GreyBorder);
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.section-enumerator__num-container {
    width: 56px;
    height: 56px;
    border: solid 1px var(--c-GreyBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--c-White);
}


@media (min-width:768px)
{
   
    

   #hero__content {
    padding: 0;
   }

   #hero__btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }

   .section-1 {
    padding: 5.125em 5.2% 12em;
   }

   #section-1__content {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
   }
   #footer {
    padding: 5.75em 5.2% 4.125em;
   }
}


@media (min-width:1440px)
{
    #hero__img-mobile {
        display: none;
    }

    #hero__img-left {
        display: block;
    }

    #hero__img-right {
        display: block;
    }

   #hero__main {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: 4.4em;
   }


   #section-1 {
    padding: 4.44em 11.4% 10.22em;
   }

   #footer {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 350px));
    align-items: start;
    text-align: left;
    grid-column-gap: 11.2%;
    padding: 6.44em 11.4% 5.77em;
   }

   #footer__title, #footer__body {
    margin-top: 0;
   }

   #footer__btn {
    align-self: center;
   }
}